<nav class="navbar navbar-inverse zestix navbar-fixed-top">
    <div class="container-fluid" style="width:100%">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ZMWA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav large-view navbar-right">
                <li class="dropdown yamm-fw">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us</a>
                    <ul class="dropdown-menu">
                        <li class="row ">

                            <!--  About Us start -->
                            <div class="col-sm-4 aboutUs_bannerContainer" s>
                                <img class="center-block" src="~/Content/Images/Z.jpg" alt="About Us Menu banner" id="dropdown-submenu" />

                            </div>


                            <!-- About us -->
                            <div class="col-sm-6 aboutUs_contentContainer">
                                <h3 class="aboutus_subMenuHeading">About Us</h3>
                                <hr />
                                <p class="aboutus_subMenuDescription">
                                    Zestix technology has been delivering technology solutions for close to two decades.
                                    Established in 1996, we have grown into a mature mid-sized IT solutions provider
                                    delivering innovative technology solutions and services across multiple domains.
                                </p>

                                <!-- Read More -->
                                <div>
                                    <a href="#" class="btn btn-default about_usreadMore">Read More</a>
                                </div>

                            </div>



                        </li>  <!-- Dropdown List - (Ends) -->

                    </ul> <!-- End of Sub Menu List -->

                </li>

                <!-- dropdown starts-->

                <li class="dropdown yamm-fw ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                    <ul class="dropdown-menu">

                        <!-- Dropdown List - (Starts) -->
                        <li class="row">
                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Agile development</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/AgileDevelopment.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>

                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "AgileDevelopment", "Home")
                                </div>
                            </div>
                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Mobile Development</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/MobileDevelopment.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>

                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "MobileDevelopment", "Home")
                                </div>
                            </div>

                            <!-- Application services Banner -->
                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Application Development and Maintainance</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/ApplicationDevelopment.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>

                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "ApplicationDevelopment", "Home")
                                </div>
                            </div>


                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Testing</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/Testing.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>
                                <!-- Read More -->
                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "Testing", "Home")
                                </div>
                            </div>

                        </li>
                    </ul>
                </li>

                <!--Industries dropdown starts-->

                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Industries</a>
                    <ul class="dropdown-menu">

                        <!-- Dropdown List - (Starts) -->
                        <li class="row">

                            <!-- Industries Banner -->
                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Banking &amp Financial services</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/BankingFinancial.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Application Integration</p>
                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "BankingFinancial", "Home")
                                </div>
                            </div>


                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Insurance</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/Insurance.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>
                                <!-- Read More -->
                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "Insurance", "Home")
                                </div>
                            </div>
                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Health Care</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/HealthCare.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>

                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "HealthCare", "Home")
                                </div>
                            </div>
                            <div class="col-sm-3 servicesContainer">
                                <h3 class="text-center">Travel &amp Logistics</h3><br />
                                <img class="img-responsive center-block" src="~/Content/Images/TravelLogistics.jpg" alt="About Us Menu banner" id="dropdown-submenu" />
                                <p>Focusing on the latest cutting-edge technology trends and testing needs, we have established strong expertise in functional testing, while strengthening our competence in technology testing areas including Mobility, Automation, Performance and Big Data Testing</p>

                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "TravelLogistics", "Home")
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="dropdown yamm-fw">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Careers</a>
                    <ul class="dropdown-menu">
                        <li class="row ">

                            <!--  About Us start -->
                            <div class="col-sm-4 aboutUs_bannerContainer">
                                <img class="center-block" src="~/Content/Images/Career.jpg" alt="About Us Menu banner" id="dropdown-submenu" />

                            </div>


                            <!-- About us -->
                            <div class="col-sm-6 aboutUs_contentContainer">
                                <h3 class="aboutus_subMenuHeading">Job opportunity</h3>
                                <hr />
                                <p class="aboutus_subMenuDescription">
                                    At Zestix technology &amp;Services we are hiring!Evplore our job openings
                                </p>

                                <!-- Read More -->
                                <div class="btn btn-default">
                                    @Html.ActionLink("Read More", "Job", "Home")

                                </div>

                            </div>



                        </li>  <!-- Dropdown List - (Ends) -->

                    </ul> <!-- End of Sub Menu List -->

                </li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>

            <!-- Mobile Menus -->

            <ul class="nav navbar-nav mobileMenus">
                <!-- Starts:    About Us -->
                <li class="">
                    @Html.ActionLink("AboutUs", "About", "Home")
                </li>
                <!-- Ends:    About Us -->
                <!-- Starts:    Industries -->
                <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Industries <b class="plus_minus_icon fa fa-plus"></b></a>
                    <ul class="dropdown-menu multi-level animated fadeIn" style="background-color:aliceblue">
                        <li>@Html.ActionLink("Banking & Financial", "BankingFinancial", "Home")</li>
                        <li>@Html.ActionLink("Insurance", "Insurance", "Home")</li>
                        <li>@Html.ActionLink("Health Care", "HealthCare", "Home")</li>
                        <li>@Html.ActionLink("Travel & Logistics", "TravelLogistics", "Home")</li>
                    </ul>
                </li>
                <!-- Ends:    Industries -->
                <!-- Starts:    Services -->
                <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Services <b class="plus_minus_icon fa fa-plus"></b></a>
                    <ul class="dropdown-menu multi-level animated fadeIn" style="background-color:aliceblue">
                        <li>@Html.ActionLink("Agile Development", "AgileDevelopment", "Home")</li>
                        <li>@Html.ActionLink("Mobile development", "MobileDevelopment", "Home")</li>
                        <li>@Html.ActionLink("Application Development", "ApplicationDevelopment", "Home")</li>
                        <li>@Html.ActionLink("Testing", "Testing", "Home")</li>

                    </ul>
                </li>
                <!-- Ends:    Services -->
                <li>@Html.ActionLink("Careers", "Job", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>
            <!-- End of Mobile Menus -->
        </div>
    </div>
</nav>